@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

/* footer bottom */

.wrapper {
    flex-grow: 1;
}


/* ---preload animation---*/

#preloader {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 9999;
}

#loading {
    position: fixed;
    top: 30%;
}


/* logo flip */


/* https://cssloaders.github.io/ */

#logo-white {
    animation: coin-flip 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes coin-flip {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

@media (min-width: 992px) {
    #loading {
        position: fixed;
        top: 30%;
        left: 25px;
    }
}

@media (min-width: 768px) {
    #loading {
        position: fixed;
        top: 30%;
        left: 55px;
    }
}


/* createArtTalk animation */

#loader {
    /* font-size: 48px; */
    color: #f8f9fa;
    display: inline-block;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 700;
    position: relative;
}

#loader:before {
    content: '';
    animation: 4s print linear alternate infinite;
}

#loader:after {
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translatey(-45%);
    width: 2px;
    height: 1.3em;
    background: currentColor;
    opacity: 0.8;
    animation: 1s blink steps(2) infinite;
}

@keyframes blink {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes print {
    0% {
        content: 'Cr'
    }
    10% {
        content: 'Cre'
    }
    20% {
        content: 'Crea'
    }
    30% {
        content: 'Creat'
    }
    40% {
        content: 'Create'
    }
    50% {
        content: 'CreateA'
    }
    60% {
        content: 'CreateAr'
    }
    70% {
        content: 'CreateArt'
    }
    80% {
        content: 'CreateArtT'
    }
    90% {
        content: 'CreateArtTa'
    }
    100% {
        content: 'CreateArtTalk'
    }
}


/* #cat {
    animation-name: cat;
    animation-delay: 0.5s;
    animation-duration: 5s;
    /* opacity: 0; */


/* justify-content: ; }*/


/* @keyframes cat {
    from {
        color: rgba(255, 255, 255, 0.3);
    }
    to {
        color: rgba(255, 255, 255, 0.8);
    }
} */


/* ---preload animatio end--- */


/* index */

.nav-logo {
    height: 25px;
    padding-bottom: 5px;
    margin-right: 5px;
}

h2 {
    font-weight: 600;
}

.box-shadow-dark {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.box-shadow-light {
    box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, .05);
}

.btn-outline-white {
    background-color: transparent;
    border: #f8f9fa solid 1px;
    box-shadow: 0 0.25rem 1rem rgba(255, 255, 255, .3);
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

.slogan-font {
    font-family: 'Ubuntu', sans-serif;
}

.text-white {
    color: white;
}

i {
    font-size: 48px;
}

.img-fluid {
    height: 250px;
    /* padding: 10px; */
}

.portfolio-box-caption {
    height: 250px;
}

#submit {
    /* width: 150px; */
    /* margin-left: 170px; */
    /* text-align: center; */
    /* justify-content: center; */
    margin-bottom: 10px;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0rem;
}


/* Pricing */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #000;
    color: white;
    padding: 5px 20px;
    border-bottom: #000 solid 1px;
}

.table-row-head {
    background-color: #000;
}


/* project */

.card.project-block {
    border: none;
}

.project-image {
    display: flex;
    height: 100px;
    width: 300px;
}

.card-text {
    font-size: small;
}